#btn {
    float: right;
    width: 100px;
    height: 100px;
    border-top: 2px solid #fff;
    border-radius: 50%;
    margin: 10px auto 50px;
    background-color: #EEEEEE;
    background: linear-gradient(#EDEAE1, #CDC8B5);
    text-align: center;
    box-shadow: 0 5px 2px 3px rgba(158, 158, 158, 0.4), 0 3px 5px #B7B6B6, 0 0 0 2px #BBB7AE, inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5), inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
    cursor: pointer;
    position: relative;
}

body {
    font-family: 'Open Sans', 'sans-serif';
    background-image: url(http://benague.ca/files/pw_pattern.png);
}

.link {
    text-decoration: none;
    color: #55acee;
    border-bottom: 2px dotted #55acee;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
}

.link:hover {
    color: #2ecc71;
    border-bottom: 2px dotted #2ecc71;
}


/* button div */

#buttons {
    padding-top: 50px;
    text-align: center;
}

b {
    color: #55acee;
    margin-top: 15px;
}


/* start da css for da buttons */

.btn {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    margin-top: -60px;
    color: #fff;
    position: relative;
    display: inline-block;
    float: right;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.purple {
    background-color: #9b59b6;
    box-shadow: 0px 5px 0px 0px #82409D;
}

.purple:hover {
    background-color: #B573D0;
}

.green {
    background-color: #258461;
    box-shadow: 0px 5px 0px 0px #256461;
}

.green:hover {
    background-color: #258961;
}
